fastapi
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain
langchain-text-splitters
pinecone
pydantic
python-dotenv
typing_extensions
uuid_utils
uvicorn
python-multipart
